/* Theming */

@layer base {
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.grey.850);

    --card: theme(colors.grey.50);
    --card-foreground: theme(colors.grey.850);

    --popover: theme(colors.grey.50);
    --popover-foreground: theme(colors.grey.850);

    --primary: theme(colors.black);
    --primary-foreground: theme(colors.grey.100);

    --secondary: theme(colors.grey.100);
    --secondary-foreground: theme(colors.grey.900);

    --muted: theme(colors.grey.200);
    --muted-foreground: theme(colors.grey.300);

    /* --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%); */

    --destructive: theme(colors.danger.600);
    --destructive-foreground: theme(colors.grey.100);

    --border: theme(colors.grey.400);
    --input: theme(colors.grey.400);
    --ring: theme(colors.grey.300);

    --radius: 0.5rem;
  }

  :root[class~="dark"] {
    --background: theme(colors.grey.850);
    --foreground: theme(colors.grey.100);

    --card: theme(colors.grey.850);
    --card-foreground: theme(colors.grey.100);

    --popover: theme(colors.grey.900);
    --popover-foreground: theme(colors.grey.100);

    --primary: theme(colors.grey.100);
    --primary-foreground: theme(colors.grey.800);

    --secondary: theme(colors.grey.300);
    --secondary-foreground: theme(colors.grey.800);

    --tertiary: theme(colors.grey.900);
    --tertiary-foreground: theme(colors.grey.50);

    --muted: theme(colors.grey.400);
    --muted-foreground: theme(colors.grey.600);

    /* --accent: theme(colors.grey.300);
    --accent-foreground: theme(colors.grey.100); */

    --destructive: theme(colors.danger.600);
    --destructive-foreground: theme(colors.grey.100);

    --border: theme(colors.grey.300);
    --input: theme(colors.grey.400);
    --ring: theme(colors.grey.400);
  }
}

/* Components */

@layer base {
  :root {
    font-family: "Inter", "system-ui";
    scroll-behavior: smooth;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    @apply bg-background text-foreground;
  }

  hr {
    @apply m-0 border-grey-200 dark:border-dark-500;
  }

  /* Scrollbar */


  ::-webkit-scrollbar {
    /* for vertical and horizontal scrollbars */
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-md bg-grey-100 dark:bg-dark-400;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md;
    @apply bg-grey-400 hover:bg-[#7f7e7e];
    @apply dark:bg-dark-100 dark:hover:bg-[#8d8e94];
  }

  /* Components */

  input.BB-Input[type="date"]::-webkit-inner-spin-button,
  input.BB-Input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }

  .shadow-1 {
    @apply shadow-light-1 dark:shadow-dark-1;
  }
  .shadow-2 {
    @apply shadow-light-2 dark:shadow-dark-2;
  }
  .shadow-3 {
    @apply shadow-light-3 dark:shadow-dark-3;
  }
}
