/* @import "inter-ui/inter-variable.css";
@import "inter-ui/inter.css"; */

@font-face {
  font-family: "Inter";
  src: url("./Inter.var.woff2") format("woff2-variations");
  font-weight: 1 999;
  font-display: swap;
}
